.card{
    width: 32%;
    margin-left: 1%;
    text-align: center;
}

form{
    width: 400px;
    justify-content: center; 
}

.butt{
    color:black;
    background-color: white;
    border-radius: 15px;
    
}

.img_form{
    width: 100%;
    
}

@media print{
    .sps{
        display: none;
    }


}
