.card{
    width: 32%;
    margin-left: 1%;
    text-align: center;
}

form{
    width: 400px;
    justify-content: center; 
}



/* .container{
    min-height: 100%;
    display: flex;
    flex-direction: column;
} */

/* .main{
    flex: 1 1 auto;
} */
/* input{
    justify-content: center;
    text-align: center;
} */

/* .form-control{
    text-align: center;
    justify-content: center;
} */

.img_form{
    width: 100%;
}

@media print{
    .sps{
        display: none;
    }


}
